################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/RomanArithmetic/bin
/RomanArithmetic/obj
/Tests/bin
/Tests/obj
